.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 400px;
    width: 400px;
    margin: 10px 20px 20px 10px;
    border: 5px solid red;

    .form-item {
        font-size: 15px;
        font-weight: 700;
        margin: 10px 5px;
        width: 95%;
        border: 5px solid blue;
    }

    input {
        width: 60%;
    }

    .btn {
        font-size: 20px;
        border: none;
        border-radius: 10px;
        background-color: #238ccd;
        text-align: center;
        margin-left: 50px;
    }

    .userInfo {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        height: 100px;
        width: 400px;
        background-color: #fefefe;
        color: #333;
    } 
}

